
.navlogo{
	width: 10%;
}
.container_logo
{
	background-color: #222;
	color: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;	
	border-radius: 50px;
	width: 150px;
	padding-left: 25px;
}

.collapse
{
	border-radius: 10px;
	float: right;
	color: red;
}


.content_submit
{
	padding-bottom: 8px;
	padding-left: 110px;
	text-align: left;
}


.site-footer
{
	background-color: #222;
	color: #fff;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-right: 70px;
	text-align: right;
}